/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/*
    Created on : 17/02/2021
    Author     : Maria Teresa André Mbuta
*/

body {
  font-family: 'Arial';
  color: #00174d;
  font-size: 11px;
  font-weight: bold;
}

.foto {

  max-width: 1000px;
  min-width: 1000px;
  max-height: 1000px;
  min-height: 1000px;
  float: right;
  margin-top: 80px;
  margin-right: 212px;
  position: relative;
  margin-bottom: -8.5%;
}

.nome {
  margin-left: 35%;
  padding-top: 3px;
  font-size: 10px;
}

.proc {
  margin-left: 75%;
  margin-bottom: -37.5%;
  margin-top: -11px;
}

.anolectivo {
  margin-left: 51%;
  margin-bottom: 26%;
  color: white;
  padding-top: 1px;
}

.turma {
  margin-left: 69%;
  margin-bottom: -4.8%;
  padding-top: -1px;
}

.classe {
  margin-top: -1%;
  margin-bottom: -19.5%;
  margin-left: 34.8%;
  padding-top: -13px;
}

.curso {
  padding-top: 3px;
  margin-bottom: 20px;
  margin-left: 35%;
  color: #1674bd;
}

/*.nomedirector {
  margin-left: 8%;
  margin-top: -1%;
  padding-top: 1%;
}

.director {
  margin-left: 15%;
  margin-top: -2%;
  padding-top: 8%;
}
*/

.Maiusculas {
  text-transform: uppercase;
}
